ion-content {
    --background : #1e1e1e; /* Fondo oscuro */
    --color: #ffffff; /* Color del texto en blanco */
    padding: 1rem;
  }
  
 
  ion-header {
   
    --color: #ffffff; /* Texto blanco en el encabezado */
  }